.menu-item{
    background-color: #eee;
    margin: -10px;
    padding: 5px;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-radius: 5px;
    cursor: pointer;
}

.menu-item span {
    text-align: center;
}

.menu-item .menu-item-title {
    font-size: 1.2em;
    font-weight: bold;    
}

.menu-item .menu-item-price {
    font-size: 0.9em;
}