.menu h3{
    text-align: center;
    margin-bottom: 25px;
    border: 2px solid #909090;
    border-radius: 5px;
    padding: 5px;
}

.tiles{
    margin: -5px;
}

.loading{
    text-align: center;
    font-weight: bold;
}